<div>
  <h2 class="text-light text-center p-2">All Categories</h2>
  <%= paginate @categories %>
  <ul class="list-group list-group-flush mb-3 pt-2" style="list-style-type:none;">
    <% @categories.each do |c| %>
      <li>
        <ul class="d-flex p-2">
          <li class="list-group-item text-light border border-light list_styles" style="background-color:#214b4c; min-width:30%;"><a class="text-light" style="text-decoration:none;" href="/categories/<%= c.id %>"><%= c.category_name %></a></li>
          <li class="list-group-item text-light" style="background-color:#214b4c; min-width:70%;">Description: <%= c.category_description %></li>
        </ul>
      </li>
    <% end %>
  </ul>
  <%= paginate @categories %>
</div>