<div>
  <h1 class="text-light">Search Results for <%= @query %>:</h1>
  <% if @filter == "nil" || @filter == nil %>
    <p class="text-light">Showing all results for <%= @query %>. No category selected.</p>
  <% else %>
    <p class="text-light">Showing results for <%= @query %> in <%= @category.category_name %>.</p>
  <% end %>
  <% if @products.count == 0 %>
    <p class="text-light">No results found. Try another keyword.</p>
  <% else %>
    <%= paginate @products %>
    <ul class="list-group list-group-flush mb-3 pt-2">
      <% @products.each do |p| %>
        <li class="list-group-item text-light border border-light p-2 mb-2 list_styles" style="background-color:#214b4c; min-width:30%;"><a class="text-light" style="text-decoration:none;" href="/products/<%= p.id %>"><%= p.product_name %></a></li>
      <% end %>
    </ul>
  <%= paginate @products %>
  <% end %>
</div>