<div>
  <h1 class="text-light">Search Results for <%= @query %>:</h1>
  <% if @filter == "nil" || @filter == nil %>
    <p class="text-light">Showing all results for <%= @query %>. No category selected.</p>
  <% else %>
    <p class="text-light">Showing results for <%= @query %> in <%= @category.category_name %>.</p>
  <% end %>
  <% if @products.count == 0 %>
    <p class="text-light">No results found. Try another keyword.</p>
  <% else %>
    <%= paginate @products %>
    <ul class="list-group list-group-flush mb-3 pt-2" style="list-style-type:none;">
      <% @products.each do |p| %>
        <li>
          <ul class="d-flex p-2" >
          <li class="list-group-item text-light border border-light list_styles" style="background-color:#214b4c; min-width:70%;"><a class="text-light" style="text-decoration:none;" href="/products/<%= p.id %>"><%= p.product_name %></a></li>
          <% if user_signed_in? %>
            <% if @cart.include?(p) %>
              <li class="list-group-item border-0" style="background-color:#214b4c; min-width:30%; padding-right:0;"><%= button_to 'Remove From Cart', remove_from_cart_path(p.id), method: :delete, style: "min-width:100%;" %></li>
            <% else %>
              <li class="list-group-item border-0" style="background-color:#214b4c; min-width:30%; padding-right:0;"><%= button_to "Add to Cart", add_to_cart_path(p.id), method: :post, style: "min-width:100%;" %></li>
            <% end %>
          <% else %>
            <li class="bg-light p-2 text-center link-primary" style="min-width:30%; margin-left:8px;"><a class="nav-link" href="/users/sign_in">Sign In to Start Adding Items to Cart</a></li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  <%= paginate @products %>
  <% end %>
</div>