<h2 class="mb-4 text-light" style="text-align:center;">Product Data</h2>
<div class="col d-flex justify-content-center">
  <div class="card" style="width: 40rem;">
    <div class="card-body bg-light text-dark">
      <h5 class="card-title">Product Name: <%= @product.product_name %></h5>
      <h6><i>Product Description: <%= @product.product_description %></i></h6>
      <p class="card-text">Product Price: $ <%= @product.product_price %></p>
      <p class="card-text">Product Category: <a href="/categories/<%= @category.id %>"><%= @category.category_name  %></a></p>
      <% if @product.image.present? %>
        <%= image_tag @product.image, class: "img-fluid rounded mx-auto d-block" , alt: "Image"%>
      <% end %>
    </div>
  </div>
</div>
