<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sohi Machinery Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
    <style>
      ul li.list_styles a:hover{
      background-color:#000;
    }

      h5.contact_h5{
        max-width:500px;
        margin: 10px auto;
        padding: 10px;
        border: 2px solid #fff;
        background-color: #252525;
        letter-spacing: 2px;
        border-radius: 5px;
      }
    </style>
  </head>

  <body class="bg-secondary">
    <div class="container p-0" style="background-color:#214b4c;">
      <div class="row">
        <div class="col">
          <%= render "layouts/menu" %>
          <div class="p-4 text-light">
            <%= render "layouts/breadcrumbs" %>
            <%= yield %>
          </div>
          <p class="notice text-light"><%= notice %></p>
          <p class="alert text-light"><%= alert %></p>
        </div>
      </div>
    </div>
  </body>
</html>
