<% if user_signed_in? %>
  <h6 class="text-light">Signed in as: <%= current_user.email %></h6>
  <% if(@addresses.count == 0)%>
    <p><a href="/new_address">Add Address</a></p>
  <% else %>
    <% @addresses.each do |a| %>
      <div>
        <h6 class="pt-3">Address:</h6>
        <p>Street Address: <%= a.address %></p>
        <p>City: <%= a.city %></p>
        <% province = Province.find(a.province_id)%>
        <p>Province: <%= province.province_name %></p>
      </div>
    <% end %>
  <% end %>
  <%= button_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-outline-light btn-sm m-auto p-2" %>
<% else %>
  <h6 class="text-light"><a class="nav-link" href="/users/sign_in">Sign In</a></h6>
<% end %>